/* --------GENERAL-------- */
* {
  /* margin: 0 auto; */
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}
::-webkit-scrollbar {
  display: none;
}
.success {
  background-color: #acdc8dfc;
  padding: 20px;
  border-radius: 16px;
  width: 100%;
}
.danger {
  background-color: rgb(219, 96, 96);
  padding: 20px;
}
.btn-alert {
  border: none;
  cursor: pointer;
  font-size: 22px;
  margin-left: 16px;
  background-color: transparent;
  vertical-align: center;
  position: absolute;
  top: -10px;
  right: -10px;
  transition: transform 0.3s ease-in-out;
}
.btn-alert:hover {
  transform: scale(1.1);
}
.container-alert {
  position: fixed;
  font-size: 20px;
  bottom: 20px;
  right: 20px;
  z-index: 2;
  max-width: 300px;
  text-align: center;
}
.homepage {
  background-color: #f9f9f9;
}
.old-price {
  font-size: 18px;
  color: #999;
  text-decoration: line-through;
  margin-right: 10px;
}
h1 h2 h3 h4 {
  font-family: "Montserrat", sans-serif;
}
p {
  font-family: "Playfair Display", serif;
}

/* --------GENERAL-------- */

/* --------HEADER-------- */
header {
  background-color: #e4c7b2;
  padding: 15px;
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav i,
h4 {
  color: #7a4615;
}

nav h4 {
  font-size: 18px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  padding: 15px;
}

.logo {
  height: 100px;
}

nav {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.navbar {
  text-decoration: none;
  transition: color 0.3s;
}

nav h4:hover {
  color: #995925;
}
/* --------HEADER-------- */

/* --------HOMEPAGE-------- */
.book-slider-container {
  text-align: center;
  background: linear-gradient(135deg, #a4a8ce, #d6a987);
  padding: 50px 5%;
  font-family: "Poppins", sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 70vh;
}

.book-slider-title {
  font-size: 3.2rem;
  font-weight: 800;
  margin-bottom: 35px;
  text-align: center;
  max-width: 900px;
}

.book-slider {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  margin: auto;
  position: relative;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25);
  background-color: white;
  padding: 50px;
  min-height: 500px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.book-slider:hover {
  transform: scale(1.02);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
}

.book-slider-image {
  width: 50%;
  max-height: 480px;
  object-fit: contain;
  border-radius: 12px;
  transition: transform 0.5s ease-in-out;
}

.book-slider-image:hover {
  transform: scale(1.1);
}

.book-slider-info {
  width: 50%;
  text-align: left;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.book-slider-title-text {
  font-size: 2.2rem;
  font-weight: 800;
  margin-bottom: 15px;
  color: #7a4615;
}

.book-slider-price {
  font-size: 1.8rem;
  font-weight: 700;
  color: #010201;
  margin-top: 20px;
}

.book-slider-title-text::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: #7a4615;
  margin-top: 5px;
  transition: width 0.3s ease-in-out;
}


.book-slider-indicators {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: 12px;
}

.book-slider-indicator {
  width: 18px;
  height: 18px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  transition: 0.3s ease;
}

.book-slider-indicator.active {
  background-color: white;
  transform: scale(1.5);
}
/* --------HOMEPAGE-------- */

/* --------RECENTI-------- */
.slider-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  background-color: #f9f9f9;
  box-sizing: border-box;
  max-width: 1600px;
  margin: 0 auto;
}

.slider-track {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  white-space: nowrap;
  gap: 15px;
  padding: 20px;
  width: 90%;
  max-width: 1400px;
  background: #e4c7b2;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgb(167, 167, 167);
}

.slider-track::-webkit-scrollbar {
  display: none;
}

.slider-item {
  flex: 0 0 auto;
  width: 250px;
  text-align: center;
}

.book-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: black;
  border: 1px solid #ddd;
  padding: 12px;
  border-radius: 10px;
  background: white;
  transition: transform 0.2s ease-in-out;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  height: 370px;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

.book-card:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

.book-card:has(.old-price)::before {
  content: "SCONTO";
  position: absolute;
  top: 20px;
  left: -35px;
  background-color: #178317;
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 6px 40px;
  transform: rotate(-45deg);
  z-index: 2;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  letter-spacing: 1px;
  text-transform: uppercase;
}

.discount-label {
  position: absolute;
  top: 20px;
  left: -35px;
  background-color: #b9151b;
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 6px 40px;
  transform: rotate(-45deg);
  z-index: 2;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  letter-spacing: 1px;
  text-transform: uppercase;
}

.book-card img {
  width: 100%;
  height: 260px;
  border-radius: 8px;
  object-fit: contain;
  margin-bottom: 10px;
  background-color: white;
}

.book-title {
  font-weight: 600;
  font-size: 16px;
  margin: 8px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  line-height: 1.2;
}

.book-price {
  color: black;
  margin-top: auto;
  padding-top: 10px;
}

.book-card div:has(.old-price) {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  margin-top: auto;
  padding-top: 10px;
}

.book-card .old-price {
  text-decoration: line-through;
  color: #888;
  font-size: 14px;
  display: inline-block;
}

.book-card div div span {
  color: #b9151b;
  font-weight: bold;
  font-size: 16px;
}

.slider-btn {
  background: #b68969;
  color: white;
  border: none;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 22px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgb(95, 73, 45);
  transition: all 0.3s ease;
  margin: 0 5px;
}

.slider-btn:hover {
  background: #b68969;
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgb(95, 73, 45);
}

.slider-btn:active {
  transform: scale(0.95);
}

.btn-left {
  margin-right: 10px;
}

.btn-right {
  margin-left: 10px;
}

.title-last {
  text-align: center;
  font-size: 38px;
  font-weight: bold;
  color: #000000;
}
.add-book {
  display: flex;
  gap: 8px;
  margin-top: 5px;
}

.add-book button {
  background-color: #f0f0f0;
  border: none;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
}
.add-book button:hover {
  background-color: #e0e0e0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}
.add-book button:active {
  transform: scale(0.9);
}
/*-----Modifiche bottone cuore-------*/
.wishlist-button {
  color: #ff4d4d;
}
/* .wishlist-button:hover {
  background-color: rgba(255, 77, 77, 0.2);
}
.wishlist-button:active {
  background-color: rgba(255, 77, 77, 0.4);
} */
.search-wish button {
  background-color: #f0f0f0;
  border: none;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
}
.search-wish button:hover {
  background-color: #e0e0e0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}
.search-wish button:active {
  transform: scale(0.9);
}
.no-results {
  margin: 30px auto;
  padding: 20px;
  max-width: 1300px;
}
/*-----Modifiche bottone cuore-------*/

/* --------RECENTI-------- */

/* --------SEARCH-BAR-------- */
.book-total {
  display: block;
  text-decoration: none;
  color: inherit;
  margin-bottom: 20px;
  max-width: 1300px;
}

.book-search {
  display: flex;
  flex-direction: column;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  padding: 25px;
  background-color: white;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}

.search-book-details {
  display: flex;
  align-items: flex-start;
  position: relative;
}

.search-book-image-wrapper {
  flex: 0 0 150px;
  margin-right: 25px;
}

.search-book-author {
  color: gray;
}

.search-book-image {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.search-book-info {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  height: 100%;
}
.info-book {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: left;
  height: 100%;
}
.prova {
  display: flex-end;
  justify-content: space-between;
  text-align: right;
  margin: 0;
}

.search-buy-detail {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 40px;
  text-align: right;
  /* justify-content: flex-end; */
  /* position: absolute;
  right: 25px;
  bottom: 25px; */
}

.search-book-container {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  padding: 25px;
  background-color: white;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}

.search-book-price {
  font-size: 18px;
  font-weight: bold;
  color: #000;
  text-align: center;
  margin-bottom: 10px;
}

.original-price {
  text-decoration: line-through;
  color: #757575;
  padding-right: 8px;
}

.final-price {
  font-size: 20px;
  font-weight: bold;
  color: #1d0404;
}

.discount-text {
  font-size: 14px;
  color: #0f0c07;
  padding-left: 5px;
  padding-right: 7px;
}

.search-buy-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 14px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  width: 300px;
  display: block;
  transition: background-color 0.3s ease;
}
.margin-cart {
  margin-left: 10px;
}
.search-buy-button:hover {
  background-color: #45a049;
}
.search-header {
  display: flex;
  justify-content: space-between;
  margin: 0;
}
.search-book-title {
  width: 90%;
}
.search-wish {
  width: 10%;
  text-align: right;
}
/* --------filtro searchbar-------- */
.new-container {
  max-width: 1200px;
  padding: 10px;
}

.searchbar-filter {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 0;
  margin: 30px 0;
}

.sort-section {
  display: flex;
  align-items: center;
  margin: 0;
  gap: 10px;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: #333;
  padding: 12px;
}
.sort-select {
  padding: 8px;
  border: 1.5px solid #bbb;
  font-size: 16px;
  cursor: pointer;
  background: #f8f8f8;
  color: #333;
  border-radius: 6px;
  transition: all 0.3s ease-in-out;
}
.sort-select:hover {
  border-color: #999;
  background: #f0f0f0;
}
.sort-select:focus {
  outline: none;
  border-color: #666;
  box-shadow: 0px 0px 4px rgba(100, 100, 100, 0.3);
}
.search-bar {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  background-color: #f9f9f9;
  border-radius: 50px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  width: 500px;
  border: 1px solid #ddd;
}
.search-input {
  flex: 1;
  padding: 12px 18px;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  border: none;
  border-radius: 50px;
  outline: none;
  background: none;
  color: #333;
}
.search-input::placeholder {
  color: #999;
  font-weight: 300;
}
.search-button {
  padding: 10px 18px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  background: #333;
  color: white;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
}
.search-button:hover {
  background: #555;
  transform: scale(1.08);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
/* --------/SEARCH-BAR-------- */

/* --------SINGOLA PAGINA-------- */
.product-page {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 40px;
  font-family: Arial, sans-serif;
  color: #000;
}

.product-content {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}

.product-image img {
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  height: 600px;
}

.product-details {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 600px;
}

.product-title {
  font-size: 2.2em;
  font-weight: bold;
  color: #000;
  text-align: left;
  margin-left: 0; 
}

.product-author {
  font-size: 1.5em;
  font-weight: bold;
  color: #888;
  margin-top: 5px;
  text-align: left;
  margin-left: 0; 
}

.box-detail {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 20px auto;
  font-family: Arial, sans-serif;
}
.product-info {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
  font-size: 16px;
}
.product-info:last-child {
  border-bottom: none;
}
.product-info span {
  font-weight: bold;
  color: #333;
}
.product-info p {
  margin: 0;
  color: #555;
  text-align: right;
  flex: 1;
}

.product-info:last-child {
  text-align: center;
  flex-direction: column;
  padding-top: 15px;
}
.product-info:last-child span {
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #222;
}
.product-info:last-child p {
  text-align: center;
  color: #444;
  font-size: 16px;
  line-height: 1.5;
}

.price-button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 10px; 
}

.discount-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px; 
  background: linear-gradient(135deg, #1e1e2e, #27ae60);
  padding: 6px 12px; 
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  cursor: default;
  color: white;
}

.old-price {
  font-size: 14px; 
  font-weight: 600;
  text-decoration: line-through;
  color: rgba(255, 255, 255, 0.6);
}

.new-price {
  background: #27ae60;
  color: #ffffff;
  font-size: 16px; 
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(39, 174, 96, 0.5);
  transition: box-shadow 0.2s ease-in-out, transform 0.15s ease-in-out;
}

.discount-container:hover .new-price {
  transform: scale(1.03);
  box-shadow: 0px 3px 8px rgba(39, 174, 96, 0.6);
}

.price {
  display: inline-block;
  background: linear-gradient(135deg, #2a2a3c, #3c3c5c);
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 12px; 
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(50, 50, 93, 0.2);
  position: relative;
  cursor: default;
}

.buy-button {
  display: block;
  margin-top: 20px;
  padding: 12px 24px;
  background: #2d8f19;
  color: white;
  font-size: 1.3em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: fit-content;
}
.buy-button:hover {
  background: #357716;
}
.discount-price-author-container {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  width: 100%;
}

.return-home-btn {
  background-color: #e4c7b2;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  transition: background-color 0.3s, transform 0.2s;
  text-decoration: none;
  margin-top: 40px;
}

.return-home-btn:hover {
  background-color: #b68969;
  transform: scale(1.05);
}

.container-book-btn {
  max-width: 1200px;
  padding: 15px;
  margin: 0 auto;
}
/* --------SINGOLA PAGINA-------- */

/* --------CARRELLO-------- */
.cart-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.cart-title {
  font-size: 2rem;
  margin-bottom: 30px;
  color: #333;
  border-bottom: 2px solid #f0f0f0;
  padding-bottom: 10px;
}

.cart-header {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr 0.5fr;
  padding: 15px 0;
  border-bottom: 1px solid #e0e0e0;
  font-weight: bold;
  color: #555;
}

.cart-items {
  margin: 20px 0;
}

.cart-item {
  display: flex;
  padding: 20px 0;
  border-bottom: 1px solid #f0f0f0;
  align-items: center;
}

.item-product {
  display: flex;
  align-items: center;
}

.item-image {
  width: 80px;
  height: 120px;
  object-fit: cover;
  margin-right: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.item-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-button-add-remove {
  display: flex;
  align-items: center;
  gap: 10px; 
  margin-bottom: 5px;
}

.quantity-btn {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  background: white;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
}

.quantity-btn:hover {
  background: #f5f5f5;
}

.quantity {
  font-weight: bold;
  min-width: 24px;
  text-align: center;
}

.remove-btn {
  background: none;
  border: none;
  color: black;
  cursor: pointer;
  font-size: 0.9rem;
  transition: color 0.2s;
  margin-top: 5px; 
}

.remove-btn:hover {
  color: grey;
}

.cart-summary {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  padding-top: 20px;
  flex-wrap: wrap;
}

.cart-checkout {
  flex: 1;
  min-width: 300px;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 8px;
  margin-right: 20px;
}

.cart-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e0e0e0;
}

.total-value {
  font-weight: bold;
  color: #333;
}

.checkout-btn {
  width: 100%;
  padding: 12px;
  background: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s;
  margin-bottom: 10px;
}

.checkout-btn:hover {
  background: #43a047;
}

.continue-shopping-btn {
  width: 100%;
  padding: 12px;
  background: white;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s;
}

.continue-shopping-btn:hover {
  background: #f5f5f5;
}

.promo-code {
  flex: 1;
  min-width: 300px;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 8px;
}

.promo-code h3 {
  margin-top: 0;
  color: #333;
}

.promo-input {
  display: flex;
  margin-top: 15px;
}

.promo-input input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px 0 0 4px;
  font-size: 0.9rem;
}

.promo-input button {
  padding: 10px 15px;
  background: #2196f3;
  color: white;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  transition: background 0.3s;
}

.promo-input button:hover {
  background: #1e88e5;
}

.empty-cart {
  text-align: center;
  padding: 50px 0;
}

.empty-cart-icon {
  font-size: 4rem;
  color: #ddd;
  margin-bottom: 20px;
}

.empty-cart p {
  font-size: 1.2rem;
  color: #777;
  margin-bottom: 20px;
}
/* --------CARRELLO-------- */

/* --------CHECKOUT-------- */

/* Contenitore principale */
.checkout-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
  max-width: 1000px;
  height: 100vh;
}

/* Colonna destra: riepilogo ordine */
.order-summary {
  flex: 2;
  max-width: 300px;
  height: fit-content;
  background-color: #ffffff;
  padding: 40px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.order-summary h2 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}


.order-items {
  margin-bottom: 20px;
}

.order-item {
  margin-bottom: 15px;
  font-size: 14px;
  color: #555;
}

.order-item .title{
  font-size: 16px;
  font-weight: bold;
  color: #333;
}


.order-item p {
  margin: 5px 0;
}

.order-total {
  margin-top: 15px;
  font-size: 16px;
  color: #333;
}

.order-total p {
  margin: 5px 0;
}

.order-total p strong {
  font-weight: bold;
  color: #000;


}

/* Bottone per il form */
.show-form-button {
  width: 100%;
  padding: 10px 15px;
  margin-top: 20px;
  background-color: #2d8f19;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.show-form-button:hover {
  background-color: #357716;
}


/* Colonna sinistra: dettagli libri */
.books-details {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.book-item {
  display: flex;
  background-color: #ffffff;
  width: 80%;
  justify-content: start;
  margin: 0;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  align-items: start;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.book-item img.book-image {
  width: 80px;
  margin: 0;
  border-radius: 5px;
  
}

.book-info{
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 15px;
  width: 100%;
}
.book-info h4 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 5px;
  margin: 0;
}

.book-info p {
  margin: 5px 0;
  font-size: 14px;
  color: #555555;
}


.book-info .checkout-card-info{
  margin: 0;
  padding: 0;
  
}

.book-info .book-price{
  font-size: 20px;
  color: #263238ff;
 
  font-weight: bold;
  padding: 0;
}

.checkout-card-info p{
  margin: 0;
  margin-bottom: 5px;
  font-size: 20px;
  color: #555555;
}



.checkout-card-details{
  margin: 0;
}

.checkout-card-details h6 {
  margin: 5px 0;
  font-size: 20px;
  font-weight: 400;
  color: #263238ff;
  
}

.checkout-card-details p{
  margin: 5px 0;
  font-size: 20px;
  color: #263238ff;
  
}

.book-info .discounted-price {
  font-size: 20px;
  color: red;
  font-weight: bold;
}
.price-deprecated {
  text-decoration: line-through;
  color: #555555;
  font-size: 16px;
}

/* Form Checkout */
.checkout-form-container {
  display: none; /* Nascondi inizialmente */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  width: 90%;
  max-width: 500px;


  text-align: center;
}

form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  margin: 0;
  padding: 40px 0;
  
}

form input {
  padding: 10px 30px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  width: 80%;
}

form button {
  width: 100%;
  padding: 10px 15px;
  margin-top: 20px;
  background-color: #2d8f19;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}


form button:hover {
  background-color: #357716;
}
/* Overlay */
.checkout-overlay {
  display: none; /* Nascondi inizialmente */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999; /* Livello dietro al form */
}

.checkout-container.show-form .checkout-form-container {
  display: block; /* Mostra il form quando attivato */
}

.checkout-container.show-form .checkout-overlay {
  display: block; /* Mostra l'overlay */
}


/* ----------RELATE---------- */
.related-books {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: flex-start;
  align-items: stretch;
}

.book-relate-card {
  width: 200px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  word-wrap: break-word; 
  overflow-wrap: break-word;
}

.book-relate-card:hover {
  transform: scale(1.05);
}

.book-relate-link {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  height: 100%;
  width: 100%; 
}

.book-relate-image {
  width: 100%;
  height: 200px;
  object-fit: contain;
  border-radius: 8px 8px 0 0;
  background-color: #f0f0f0;
}

.book-relate-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 100%;
}

.book-relate-title {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  text-align: center;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  margin-top: 10px;
}

.book-relate-author {
  font-size: 14px;
  color: #666;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.book-relate-price {
  font-size: 16px;
  font-weight: bold;
  color: #b9151b;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.relate-title h2 {
  color: #7a4615;
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid #7a4615;
  padding-bottom: 5px;
  display: inline-block;
}

.relate-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 20px;
}
/* ----------/RELATE---------- */

/*----WISHLIST-----*/

.wishlist {
  margin: 20px auto;
  max-width: 1100px;
}
.book-wishlist {
  text-decoration: none;
  color: inherit;
  width: 100%;
}
.book-card-wishlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: black;
  border: 1px solid #ddd;
  padding: 12px;
  border-radius: 10px;
  background: white;
  transition: transform 0.2s ease-in-out;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

.book-card-wishlist:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

.book-card-wishlist:has(.old-price)::before {
  content: "SCONTO";
  position: absolute;
  top: 20px;
  left: -35px;
  background-color: #178317;
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 6px 40px;
  transform: rotate(-45deg);
  z-index: 2;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  letter-spacing: 1px;
  text-transform: uppercase;
}
